
@{
    ViewBag.Title = "Index";
}

<h2>Panel zarządzania</h2>

<div class="panel">
    <div class="panel-body">
        @Html.ActionLink("Dodaj książkę", "Create", "Book", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Dodaj autora", "Create", "Author", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Dodaj wydawce", "Create", "Publisher", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Dodaj serie", "Create", "Series", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Zamówienia", "Index", "Order", null, new { @class = "btn btn-default" })
    </div>
</div>

