
@{
    ViewBag.Title = "Admin";
}

<h2>Panel zarządzania</h2>

<div class="panel">
    <div class="panel-body">
        @Html.ActionLink("Dodaj książkę", "Create", "Book", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Autorzy", "Index", "Author", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Wydawcy", "Index", "Publisher", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Serie", "Index", "Series", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Zamówienia", "Index", "Order", null, new { @class = "btn btn-default" })
    </div>
</div>

